<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Appender: tylko konsola -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[TEST] %d{HH:mm:ss.SSS} [%level] [%logger] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
